:root {
  --body-main: #e2dbc8;
  --body-light: #d8ccb4;
  --body-mid: #d0bd97;
  --body-dark: #b8a282;
  --body-border: #94866d;
  --body-background-color: #c0a886;
  --button-background: #605443;
  --button-color: #fff;
  --button-border: #3c352a;
  --button-dark: #18140c;
  --button-light: #3a301d;
  --sidebar: #cfc08d;
  --background-text-color: #444444;
  --background-link-color: #52351e;
  --search-box: #efeee6;
  --link-color: #936039;
  --redlink-color: #ba0000;
  --text-color: #000000;
  --byline-color: #4c4c4c;
  --subtle-color: #777777;
  --admin-blue: #332e75;
  --bearcat-green: #13592e;
  --awb-purple: #933b96;
  --rsw-blue: #438ab6;
  --osrsw-brown: #605443;
  --thumb-bg: #d8ccb4;
  --thumb-caption-bg: #d0bd97;
  --sourceeditor-input-background: #ffffff;
  --sourceeditor-background: #d8ccb4;
  --sourceeditor-background-secondary: #d8ccb4;
  --sourceeditor-border: #d0bd97;

  /* notes from wiki */
  --main-bg: #e2dbc8;
  --main-bg-light: #f9f3eb;
  --main-text: #000000;
  --main-sub-text: #4d4d4c;
  --side-dark: #c0a886;
  --logo-dark: #2e2e2e;
  --logo-brown: #513535;
  --search-bar-bg: #efeee6;
  --search-bar-text: #4c4c4c;
  --tab-highlight: #d0bd97;
  --tab-text: #52351e;

  /* notes from game */
  --rune: #516d78;
  --dragon: #801a0d;
  --essence: #9e9393;
  --guthix: #009a60;
  --saradomin: #e4ba00;
  --zamorak: #e40101;
  --armadyl: #0071e4;
  --bandos: #6b461f;
  --zaros: #5d3785;
  --seren: #7dfdfd;
  --mystic-blue-primary: #556e9b;
  --mystic-blue-secondary: #3f8bfb;
  --mystic-blue-tertiary: #d6d8dc;
}